# Секреты (Самое важное! Твой токен бота не должен попасть на GitHub)
.env

# База данных (чтобы не заливать свои тестовые данные)
*.db
*.sqlite3

# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
.pytest_cache/

# Docker
.dockerignore

# IDE (настройки твоего редактора)
.vscode/
.idea/

# Логи
*.log
